<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<title>ACL Example</title>
<style>
  body {
      font-family: 'Arial', sans-serif;
      background-color: #f8f9fa;
      padding: 20px;
  }

  h1 {
      text-align: center;
      margin-bottom: 20px;
  }

  .user-container {
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 10px;
      padding: 20px;
      max-height: 400px;
      overflow-y: auto;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      margin: 20px 0;
  }

  .user-item {
      padding: 10px;
      margin-bottom: 10px;
      background-color: #f8f9fa;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: background-color 0.3s;
  }

  .user-item:hover {
      background-color: #e9ecef;
  }
</style>
</head>
<body>
  <header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="login" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="std" class="nav-link px-2 text-secondary">ข้อมูลนักศึกษา</a></li>
            </ul>
            <div class="text-end">
                <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>
</header>

<div class="container">
  <h1>รายชื่อนักศึกษา</h1>
  
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Prefix ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Date of Birth</th>
              <th>Curriculum ID</th>
              <th>Email</th>
          </tr>
      </thead>
      <tbody>
          <% students.forEach(student => { %>
          <tr>
              <td><%= student.prefix_id %></td>
              <td><%= student.first_name %></td>
              <td><%= student.last_name %></td>
              <td><%= student.date_of_birth %></td>
              <td><%= student.curriculum_id %></td>
              <td><%= student.email %></td>
          </tr>
          <% }) %>
      </tbody>
  </table>
</div>

</body>
</html>